# Node modules & dependencies
node_modules/
.pnp/
.pnp.js

# npm package manager files
package-lock.json
yarn.lock

# Compiled JavaScript files
*.js
*.js.map
!e2e/*.spec.js
dist/
build/
out/
es/
lib/
tmp/

# Test reports
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

# production
/build

# OS generated & miscellaneous
.DS_Store
Thumbs.db
*.pem
.history/
.eslintcache

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor/IDE specific files
.vscode/
.idea/

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts
